<%- include('partials/_header') -%>
    <center>
        <div>
            <h3>Contactenos</h3>
            <p>
                De nuestras redes sociales <a href=""></a>
            </p>
        </div>

    </center>

    <center>
        <div>
            <h3>Mapa de sede principal en medellín</h3>
        </div>
    </center>
    <div style="padding-top: 100px;">
        <div id="mapa" class="mapa"></div>
    </div>
    
<%- include('partials/_footer') -%>