<%- include('partials/_header') -%>
    <center>
        <div>
            <h3>Contactenos</h3>
            <p>
                En nuestras redes sociales o en nuestra tienda presencial <a href=""></a>
            </p>
            <img src="../public/image/Logo/TiendaPresencial.jpg"  alt="">
        </div>
    </center>
    <br>
    <center>
        <div>
            <h3>Mapa de sede principal en itagui</h3>
        </div>
    </center>
    <div style="padding-top: 35px;">
        <div id="mapa" class="mapa"></div>
    </div>
    
<%- include('partials/_footer') -%>