<%- include('partials/_header') -%>
<form class="login100-form " action="/quienesSomos" method="POST"> 
    <!-- product list part start-->
    <section class="about_us padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="about_us_content">
                        <center><img src="../public/image/Organizar/logocirculo.png" height="100px" width="100px" alt="#" class="img-fluid"></center>
                        <h5>Nuestras mision</h5>
                        <h3>Nuestra empresa de accesorios, tiene como propósito atraves de la fabricación de nuestro artículos, ser conocidos por la alta calidad, por sus diseños innovadores y asi poder satisfacer a nuestros clientes.</h3>   
                        <h5>Nuestras vision</h5>
                        <h3>Dentro de 4 años ser reconocidos a nivel nacional, siendo líderes en la innovación de accesorios tanto de mujer como de hombre.</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product list part end-->

    <!-- feature part here -->
    <section class="feature_part section_padding">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <div class="feature_part_tittle">
                        <h3>Fabricamos  con amor ♡ ♡ Accesorios Abyk</h3>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="../public/image/Organizar/efectivo.png" alt="#">
                        <h4>Efectivo</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="../public/assets/img/icon/feature_icon_2.svg" alt="#">
                        <h4>Pedido en línea</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single_feature_part">
                        <img src="../public/assets/img/icon/feature_icon_3.svg" alt="#">
                        <h4>Envíos a nivel nacional</h4>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single_feature_part">
                        <img src="../public/assets/img/icon/feature_icon_4.svg" alt="#">
                        <h4>Ventas al por mayor y al dental </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature part end -->
    
    <!-- client review part here -->
    <section class="client_review">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="client_review_slider owl-carousel">
                        <div class="single_client_review">
                            <p>Es un verdadero privilegio hacer todo lo que te apasiona mientras estas trabajando</p>
                        </div>
                        <div class="single_client_review">
                            <p>Cuando empecemos a soltar nuestros miedos empezaremos a construir nuestros sueños</p>
                        </div>
                        <div class="single_client_review">
                            <p>Hay que vivir intensamente no es un dia mas,es un dia menos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- client review part end -->
</form>
<%- include('partials/_footer') -%>