</center>
</div>



<!-- Script -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous">
  </script>

</div>
</div>


  <div class="row" style="width: 100%;">
    <center>
    <div class="col-md-4">
    <p>Siguenos en </p>
    <div class="gallery">
      <img src="/public/Image/facebook.png" width="26" height="30" top:=868px left:=959px
        onmouseover="  this.src='/public/Image/facebook (1).png'" onmouseout=" this.src='/public/Image/facebook.png'" />
      <img src="/public/Image/instagram.png" width="26" height="30" top:=868px left:=959px
        onmouseover=" this.src='/public/Image/instagram (1).png'" onmouseout="this.src='/public/Image/instagram.png'" />
      <img src="/public/Image/internet.png" width="26" height="30" top:=868px left:=959px
        onmouseover="  this.src='/public/Image/internet (1).png'" onmouseout=" this.src='/public/Image/internet.png'" />
    </div>
  </div>
  
</center>
  </div>





</html>