<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Nodejs Mysql</title>
    <link href="../public/css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="../public/css/main.css" rel="stylesheet">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
        integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

    <!-- Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="icon" href="public/image/poli.png">
    <script type="text/javascript" src="/public/js/header.js"> </script>


</head>

<body>

    <nav class="navbar navegacion">
        <a class="navbar-brand" href="/">
                <h4 > <i class="fas fa-home"> ABYK ACCESORIOS</i></h4>
        </a>

        <br> <!-- MENU 3 DESPLEGABLE -->
        <div id="header">
            <ul class="nav" style="justify-content: center;display: flex;">
                <li><a href="/"> <i class="fas fa-home">Inicio</i></a></li>
                <li><a> <i class="fas fa-home">Quienes somos</i></a>
                    <ul>
                        <li><a target="_blank" href="https://www.politecnicojic.edu.co/index.php/mision-y-vision"> <i class="fas fa-home">Mision</i></a>
                        <li><a target="_blank" href="https://www.politecnicojic.edu.co/index.php/mision-y-vision"> <i class="fas fa-home">Vision</i></a>
                    </ul>
                </li>
                <li><a href="/registrar"><i class="fas fa-edit">Registrate</i></a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt">Salir</i></a></li>

        </div>

    </nav> <br>
   
    <center>
                <td><img src="/public/image/img1.jpg"  width="300" height="300" alt="" ></td> 
                <td><img src="/public/image/img2.jpg"  width="300" height="300" alt=""></td>
                <td><img src="/public/image/img3.jpg"  width="300" height="300"alt="" > </td>
                <td><img src="/public/image/img4.jpg"  width="300" height="300"alt="" > </td>
                <td><img src="/public/image/img5.jpg"  width="300" height="300"alt="" > </td>
                <td><img src="/public/image/img6.jpg"  width="300" height="300" alt="" ></td> 
                <td><img src="/public/image/img7.jpg"  width="300" height="300" alt=""></td>
                <td><img src="/public/image/img8.jpg"  width="300" height="300"alt="" > </td>
                

        </center> 



    <div class="container-login100">
        <div class="wrap-login100">
            <div class="col-md-5">
                <img src="/public/image/poli.png" class="image">
            </div>
            <div class="col-sm-12 col-md-7">
                <center>

                    